<div class="row">
  <div class="col-5 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Register for an Account</h3>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" id="password2">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
      <p class="mt-2 text-center">Already Registered?
        <a href="/users/login">Login</a>
      </p>
    </div>
  </div>
</div>